html, body {
    font-family: serif;
    background: rgb(99, 109, 102);
}
body {
    margin: 20px;
}
input{
    margin: 10px;
}
.main {
    background:lightgrey;
    padding: 10px;
    margin: 15px;
    border-radius: 30px;
}
.out-compare-number, .out-year-birth, .out-number-flat, .out-number, .out-remain, .out-exponen, .out-street, .out-radiation, .out-eng-vol, .out-cash, .out-cash-2, .out-arithmetic, .out-arithmetic-2{
    display: inline;
    color: rgb(240, 10, 10);
}